<form action="/comments/<%= comment["post_id"] %>" method="post">

    <input type="hidden" name="_method" value="put">

    <label for="">Comment</label>
    <input type="text" name="title" value="<%= comment["comment"] %>">

    <button>Update</button>

</form>