<h1>hello world</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/wvsP_lzh2-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<% posts.each do |post| %>

    <h2>
        <a href="/dishes/<%= post["id"] %>">
            <%= post["title"] %>
        </a>
    </h2>

    <br>

    <h5> <%= post['post_text'] %> </h5>

    <br>

    <img src="<%= post['image_url'] %>" alt="">

    <br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/wvsP_lzh2-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<% end %>