<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Lorde Board</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
</head>
<body>

  <div class="page-wrapper">

    <div class="fixed-header">
      <h1 class="title">
        <img src="/images/floral-outline.png" alt="" class="header-image">
        <%# <img src="/images/floral-image.png" alt="" class="header-image"> %>
        <a href="/">The Lorde Board</a> 
        <img src="/images/lorde-outline.png" alt="" class="header-image">
      </h1>

      <div class="navigation-bar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/links">Find Lorde</a>
        <% if logged_in? %>

          <a href="/posts/new" class="post-button">New Post</a>

          Logged in as <%= current_user["username"] %>
          <img src="<%= current_user["avatar_url"] %>" alt="" class="avatar">

          <form action="/session" method="post">

            <input type="hidden" name="_method" value="delete">

            <button class="button">Logout</button>

          </form>
        <% end %>
      
      </div>

      <br>

      <%# <div class="user-bar">
        
      
      </div> %>
      


    </div>
  
    <%= yield %>
  
  </div>


</body>
</html>
