<div class="links-container">
    <ul>
        <li>
            <a href="https://www.lorde.co.nz/" target="_blank">Official Site</a>
        </li>
        
        <li>
            <a href="https://www.instagram.com/lorde/" target="_blank">Instagram</a>
        </li>
    
        <li>
            <a href="https://twitter.com/lorde" target="_blank">Twitter</a>
        </li>
        
        <li>
            <a href="https://open.spotify.com/artist/163tK9Wjr9P9DmM0AVK7lm" target="_blank">Spotify</a>
        </li>
        
        <li>
            <a href="https://www.youtube.com/channel/UCOxhwqKKlVq_NaD0LVffGuw" target="_blank">Youtube</a>
        </li>

    
        
    </ul>
    

</div>

