<div class="log-in-container">

    <form action="/session" method="post" class="login-page">
        <div class="login-details">
            <label for="">Email</label class="login-page">
            <input type="email" name="email" class="login-page">
            
            <label for="">Password</label class="login-page">
            <input type="password" name="password_digest" class="login-page">
            
            <button class="button">Log in</button>
        </div>
        
        

    </form>

    <h4>or</h4>

    <form action="/sign_up" class="sign-up-form"> 
        <button class="button">Sign up</button>
    </form>

</div>

