<form action="/session" method="post">
    <label for="">Email</label>
    <input type="email" name="email">
    <br>
    <label for="">Password</label>
    <input type="password" name="password_digest">
    <br>

    <button>Log in</button>

</form>

<h4>or</h4>

<form action="/sign_up"> 
    <button>Sign up</button>
</form>
