<form action="/posts" method="post">
    <label for="">Title</label>
    <input type="text" name="title">
    <br>
    <label for="">Post</label>
    <textarea cols="40" name="post_text" rows="5">
    </textarea>
    <br>
    <label for="">Image URL</label>
    <input type="text" name="image_url">
    <br>
    <label for="">Video URL</label>
    <input type="text" name="video_url">
    <br>
    <h4>Please click "Share" on YouTube and use the link</h4>
    <br>

    <button>Upload post</button>

</form>