<form action="/posts" method="post">
    <p>
        <label for="">Title</label>
        <input type="text" name="title">
    </p>
    
    <br>
    <p>
        <label for="">Post</label>
        <textarea cols="40" name="post_text" rows="5">
        </textarea>
    </p>
    
    <br>
    <p>
        <label for="">Image URL</label>
        <input type="text" name="image_url">
    </p>
    
    <br>
    <p>
        <label for="">Video URL</label>
        <input type="text" name="video_url">
        
    </p>
    <h4>Please click "Share" on YouTube and use the link</h4>
    
    <br>

    <button>Upload post</button>

</form>
