<div class="content-container">

    <form action="/posts" method="post" class="create-post-form">
        <p>
            <label for="">Title</label>
            <input type="text" name="title">
        </p>
        
        <p>
            <label for="">Post</label>
            <textarea cols="40" name="post_text" rows="5">
            </textarea>
        </p>
        
        <p>
            <label for="">Image URL</label>
            <input type="text" name="image_url">
        </p>
        
        <p>
            <label for="">Video URL</label>
            <input type="text" name="video_url">
            <a href="/upload-video" target="_blank">(Click here for tips)</a>
        </p>

        <div class="upload-button">
            
            <button class="button">Upload post</button>
        </div>
        

    </form>

</div>