<form action="/sign_up" method="post">
    <label for="">Username</label>
    <input type="text" name="username">
    <br>
    <label for="">Email</label>
    <input type="email" name="email">
    <br>
    <label for="">Password</label>
    <input type="password" name="password_digest">
    <br>

    <button>Sign up</button>

</form>