<div class="content-container">

    <h5>Step 1: Go to Youtube and find the Lorde video you would like to share</h5>

    <img src="/images/upload-video-part-1.png" alt="">

    <h5>Step 2: Click the share button</h5>

    <img src="/images/upload-video-part-2.png" alt="">

    <h5>Step 3: Copy the link from the share function</h5>

    <img src="/images/upload-video-part-3.png" alt="">

    <h5>Step 4: Paste the link into the input box</h5>

    <img src="/images/upload-video-part-4.png" alt="">

</div>

<img src="" alt="">