<div class="content-container">

    <div class="upload-video-container">
        <h3>Step 1: Go to Youtube and find the Lorde video you would like to share</h3>

        <img src="/images/upload-video-part-1.png" alt="">

        <h3>Step 2: Click the share button</h3>

        <img src="/images/upload-video-part-2.jpg" alt="">

        <h3>Step 3: Copy the link from the share function</h3>

        <img src="/images/upload-video-part-3.png" alt="">

        <h3>Step 4: Paste the link into the input box</h3>

        <img src="/images/upload-video-part-4.png" alt="">
    
    </div>

    

</div>

<img src="" alt="">